# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

package-lock.json

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

authcopy.js
update-existing-users.js

.env
.env.production

DEPLOYMENT.md
SECRETS.md
cms-backend/migrate+create/*.*

# iOS
ios
ios-adhoc-troubleshooting.md
NGINX_ADHOC_REQUIREMENTS.md
nginx-adhoc-config.conf
nginx-adhoc-simple.conf
setup-nginx-adhoc.sh
static-manifest.plist
test-download.html
test-nginx-adhoc.sh
